html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック Pro", 游ゴシック体, "Yu Gothic", YuGothic, "メイリオ", sans-serif;
}

.button-link {
  display: inline-block;
  padding: 1px 6px;
  text-decoration: none;
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-link:hover {
  background-color: #999999;
}

.alert {
  margin-bottom: 0;
  position: relative;
  right: 0;
  display: flex;
}

.close-alert {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.alert-message {
  margin-bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-img {
  flex: 1;
  text-align: right;
}

.header-img img {
  max-width: 90%;
  height: auto;
  margin: 10px 10px 10px 0px;
}

.header-text {
  flex: 5;
  text-align: center;
}

.h1-header-text {
  font-size: 24px;
  font-weight: 600;
  color: #00a3ff;
  margin-top: revert;
  margin-bottom: revert;
}

.juki-navbar-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: -webkit-fill-available;
  margin: 0;
}

.juki-navbar-nav li {
  flex: 1;
  text-align: center;
}

.footer-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 50px; */
  /* Adjust the height of the footer as needed */
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  cursor: pointer;
}

.normal-table,
.normal-table td,
.normal-table th {
  border: 2px solid #565656;
  text-align: left;
}

.normal-table {
  border-collapse: collapse;
  width: -webkit-fill-available;
  margin: 5px;
}

.normal-table th,
.normal-table td {
  padding: 15px;
}

.normal-table th {
  color: rgb(6, 45, 148);
}

.submit-delete {
  text-align: right;
    margin-right: 5px;
}

.upload-table,
.upload-table td,
.upload-table th {
  border: 0px solid #ddd;
  text-align: left;
}

.upload-table {
  border-collapse: collapse;
  margin: 5px;
}

.upload-table th,
.upload-table td {
  padding: 5px;
}

.table-hover tr:hover {
  background-color: #eeeeee;
}

.juki-bg {
  --bs-bg-opacity: 1;
  background-image: linear-gradient(30deg, rgba(39, 188, 255, 0.9), rgba(0, 157, 255, 0.9));
}

.juki-list-menu-header {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 20px 10px;
  text-decoration: none;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック Pro", 游ゴシック体, "Yu Gothic", YuGothic, "メイリオ", sans-serif;
}

.loading-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-icon {
  color: white;
  font-size: 48px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #005F99;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="checkbox"] {
  transform: scale(1.5);
}


/* Style the popup container */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 1;
}

/* Center the popup dialog vertically and horizontally */
.popup-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

/* Style the close button inside the popup */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.pagination-container{
  display: flex;
  align-items: center;
}

.pagination{
  position: absolute;
  right: 0;
  align-self: center;
  display: flex; 
}

.pagination form{
  display: flex; 
  align-items: center;
}
.pagination form label{
  display: flex; 
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.setting-header{
  color: #007bc7;
  margin: 5px;
}
.setting-header a{
  color: #007bc7;
  text-decoration: none;
}

.setting-header a:hover{
  text-decoration: underline;
  font-weight: 700;
}