<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/esp32_client.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="header-container">
            <div class="header-text">
                <h1 class="h1-header-text">Program Data Transmission and Production Monitoring System for Pattern
                    Stitching Machine</h1>
                <p></p>
            </div>
            <div class="header-img">
                <img src="~/picture/juki.jpg" alt="">
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light juki-bg border-bottom box-shadow mb-0">

            <div class="container-fluid">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="https://placeholder.pics/svg/150x50/888888/EEE/Logo" alt="..." height="36">
                </a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="juki-navbar-nav">    
                        <li>
                            <a class="juki-list-menu-header" asp-area="" asp-controller="Monitoring"
                                asp-action="Index">Monitoring</a>
                        </li>

                        <li class="dropdown">
                            <a class="juki-list-menu-header dropbtn" asp-area="" asp-controller="Setting"
                                asp-action="Index">Setting</a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="Line" asp-action="Setting">Line setting</a>
                                <a asp-area="" asp-controller="Product" asp-action="Setting">Product setting</a>
                                <a asp-area="" asp-controller="Machine" asp-action="Setting">Machine setting</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="juki-list-menu-header dropbtn" asp-area="" asp-controller="Assigning"
                                asp-action="Index">Setting</a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="ProductLine" asp-action="Assigning">Product - Line assigning</a>
                                <a asp-area="" asp-controller="MachineLine" asp-action="Assigning">Machine - Line assigning</a>
                            </div>
                        </li>
                        @{
                            var userName = _httpContextAccessor?.HttpContext?.Session.GetString("UserName");
                        }
                        <li class="dropdown">
                            <a class="juki-list-menu-header dropbtn" asp-area="" asp-controller="User"
                                asp-action="Index">@userName</a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="User" asp-action="Update">Account infomation</a>
                                <a asp-area="" asp-controller="User" asp-action="Create">Create account</a>
                                <a asp-area="" asp-controller="User" asp-action="ChangePassword">Change Password</a>
                                <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="loading-popup" style="display: none;">
        <div class="loading-icon">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="alert-message">
        @if (TempData["AlertMessage"] is not null)
        {
            var alertModel = JsonConvert.DeserializeObject<List<AlertModel>>(TempData["AlertMessage"]?.ToString() ?? "") ??
            new List<AlertModel>();

            foreach (var alert in alertModel)
            {
                @await Html.PartialAsync("~/Views/Components/Alert.cshtml", alert)
            }
        }

    </div>

    @RenderBody()

    <footer class="footer text-muted">
        <div class="footer-text">
            &copy; 2023 by NhatTinh. All rights reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/server.js" asp-append-version="true"></script>
    <script src="~/js/actionform.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
