@model MultipleUploadFileModel
@using esp32_client.Controllers
@using esp32_client.Utils
@{
    ViewData["Title"] = "Upload Multiple Files";
}

@using (Html.BeginForm("Index", "MultipleUploadFile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        @{
            await Html.RenderPartialAsync("ListFile", Model);
            await Html.RenderPartialAsync("ListServer", Model);
        }
    </div>

    <input type="submit" value="Save" />
}

@section Scripts{
    <script>
        @* $(document).ready(function () {

        // Bind click event to toggle spans
        $('.toggle').click(function () {
        // Find the next sibling element (the <ul> in this case)
        var ul = $(this).next();

        // Toggle the display of the next sibling element
        ul.slideToggle();

        // Change the text of the toggle span based on the visibility of the next sibling element
        $(this).text(ul.is(':visible') ? '-' : '+');
        });
        }); *@

    var toggles = document.querySelectorAll('.toggle');

        toggles.forEach(function (toggle) {
            toggle.addEventListener('click', function () {
                var parentLi = toggle.parentNode;
                var nestedUl = parentLi.querySelector('ul');

                if (nestedUl.style.display === 'none') {
                    nestedUl.style.display = 'block';
                    toggle.textContent = '-';
                } else {
                    nestedUl.style.display = 'none';
                    toggle.textContent = '+';
                }
            });
        });

    </script>
}