@model MultipleUploadFileModel
@using esp32_client.Controllers
@using esp32_client.Utils
@{
    ViewData["Title"] = "Upload Multiple Files";
}

@using (Html.BeginForm("Index", "MultipleUploadFile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        @{
            await Html.RenderPartialAsync("ListFile", Model);
            await Html.RenderPartialAsync("ListServer", Model);
        }
    </div>

    <input type="submit" value="Save" />
}