@model UserAccountChangePasswordModel

@{
    ViewData["Title"] = "Change password";
}

 <div class="popup-container" style="display: block;" id="popup">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup')">&times;</span>
            <h2>Change Password</h2>
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="mb-3 d-grid">
                    <label>Old password</label>
                    @Html.HiddenFor(s => s.Id)
                    @Html.PasswordFor(s => s.OldPassword)
                </div>
                
                <div class="mb-3 d-grid">
                    <label>New password</label>
                    @Html.PasswordFor(s => s.NewPassword)
                </div>
                
                <div class="mb-3 d-grid">
                    <label>Confirmed password</label>
                    @Html.PasswordFor(s => s.ConfirmedPassword)
                </div>
                
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            }
        </div>
    </div>
</div>

