@model UserAccountChangePasswordModel

@{
    ViewData["Title"] = "Change password";
}

<div class="form-container">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div>
            <label>Old password</label>
            @Html.HiddenFor(s => s.Id)
            @Html.PasswordFor(s => s.OldPassword)
        </div>

        <div>
            <label>New password</label>
            @Html.PasswordFor(s => s.NewPassword)
        </div>

        <div>
            <label>Confirmed password</label>
            @Html.PasswordFor(s => s.ConfirmedPassword)
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    }
</div>
