@model UserAccountCreateModel

@{
    ViewData["Title"] = "Create new user";

    var listSelecteRole = new List<SelectListItem>();
    listSelecteRole.Add(new SelectListItem { Value = "", Text = "Choose role" });

    var listRole = await _userRoleService.GetAll();
    listRole.ForEach(s => listSelecteRole.Add(new SelectListItem
            {
                Value = s.Id.ToString(),
                Text = s.RoleName
            }));
}

 <div class="popup-container" style="display: block;" id="popup">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup')">&times;</span>
            <h2>Create new user</h2>
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="mb-3 d-grid">
                    <label for="userName">UserName</label>
                    @Html.EditorFor(s => s.UserName)
                </div>
                
                <div class="mb-3 d-grid">
                    <label for="loginName">LoginName</label>
                    @Html.EditorFor(s => s.LoginName)
                </div>
                
                <div class="mb-3 d-grid">
                    <label for="password">Password</label>
                    @Html.PasswordFor(s => s.Password)
                </div>

                <div class="mb-3 d-grid">
                    <label for="roleId">UserRole</label>
                    @Html.DropDownListFor(s => s.RoleId, listSelecteRole)
                </div>
                
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            }
        </div>
    </div>
</div>
