@{
    ViewData["Title"] = "Privacy Policy";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div>
        <label for="username">Username:</label>
        @Html.TextBox("username")
    </div>

    <div>
        <label for="password">Password:</label>
        @Html.Password("password")
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
}

