@{
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/esp32_client.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="loading-popup" style="display: none;">
        <div class="loading-icon">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="alert-message" style="z-index: 2;">
        @if (TempData["AlertMessage"] is not null)
        {
            var alertModel = JsonConvert.DeserializeObject<List<AlertModel>>(TempData["AlertMessage"]?.ToString() ?? "") ??
            new List<AlertModel>();

            foreach (var alert in alertModel)
            {
                @await Html.PartialAsync("~/Views/Components/Alert.cshtml", alert)
            }
        }
    </div>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        <div class="popup-container" style="display: block;">
            <div class="popup-dialog">
                <div class="popup-content">
                        <div class="mb-3 d-grid">
                            <h2 style="color: #005F99; text-align: center;"><strong>Sign in</strong></h2>
                        </div>
                        <div class="mb-3 d-grid">
                            <label for="loginName" class="form-label"><strong>Login name</strong></label>
                            <input id="loginName" name="loginName" type="text" placeholder="Login name">
                        </div>
                        
                        <div class="mb-3 d-grid">
                            <label for="password" class="form-label"><Strong>Password</Strong></label>
                            <input id="password" name="password" type="password" placeholder="Password">
                        </div>
                        
                        <div class="mb-3 d-grid text-danger">
                            @Html.ValidationSummary()
                        </div>
            
                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary" value="SIGN IN">
                        </div>
                </div>
            </div>
        </div>
    }
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/server.js" asp-append-version="true"></script>
<script src="~/js/actionform.js" asp-append-version="true"></script>

</html>
