@model UserAccountUpdateModel
@{
    ViewData["Title"] = "Update account";
}

 <div class="popup-container" style="display: block;" id="popup">
    <div class="popup-dialog">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup('popup')">&times;</span>
            <h2>Update account</h2>
            @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="mb-3 d-grid">
                    <label>Login name</label>
                    @Html.HiddenFor(s => s.Id)
                    @Html.EditorFor(s => s.LoginName, new { htmlAttributes = new { value = Model.LoginName} })
                </div>
                
                <div class="mb-3 d-grid">
                    <label>User name</label>
                    @Html.EditorFor(s => s.UserName, new { htmlAttributes = new { value = Model.UserName} })
                </div>
                
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            }
        </div>
    </div>
</div>

