@model List<Product>
@{
    ViewData["Title"] = "ProductDetail";
}

@await Html.PartialAsync("~/Views/Product/ListProduct.cshtml")

<div class="tab-content">
    <div id=@Model style="display: block;">

        <h2><small><small>@Model[0].ProductName</small></small></h2>

        <br>

        <table class="normal table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Process name</th>
                    <th>Order</th>
                    <th>Pattern Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].ProcessName</td>
                        <td>@Model[i].Order</td>
                        <td>@Model[i].PatternNumber</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>