@{

}

<div class="tabs-container">
    <div class="tab-menu">
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Search">
        </div>
       
        <div class="list-server">
            <ul>
                
            </ul>
        </div>

    </div>

</div>
