@model AlertModel?

@if (Model is not null)
{
    @switch (Model?.AlertType)
    {
        case Alert.Success:
            <div class="alert alert-success alert-dismissible">
                <div class="alert-content"><strong>Success: </strong> @Model.AlertMessage</div>
                <div class="close-alert"><i class="fa fa-xmark" style="font-size:18px;cursor:pointer;"></i></div>
            </div>
            break;
        case Alert.Info:
            <div class="alert alert-info alert-dismissible">
                <div class="alert-content"><strong>Info: </strong> @Model.AlertMessage</div>
                <div class="close-alert"><i class="fa fa-xmark" style="font-size:18px;cursor:pointer;"></i></div>
            </div>
            break;
        case Alert.Danger:
            <div class="alert alert-danger alert-dismissible">
                <div class="alert-content"><strong>Error: </strong> @Model.AlertMessage</div>
                <div class="close-alert"><i class="fa fa-xmark" style="font-size:18px;cursor:pointer;"></i></div>
            </div>
            break;
        default:
            break;
    }
}
