<!DOCTYPE html>
<html>

<head>
    <title>Product Line</title>
    <style>
        .overview-line table,
        .overview-line th,
        .overview-line td {
            border: 1px solid rgb(230, 55, 55);
        }
        
        .overview-line td {
            min-width: 20px;
        }

        .overview-line table {
            padding: 10px;
        }

        .overview-line .arrow {
            font-size: 30px;
            line-height: 1;
        }
    </style>
</head>

<body>
    <table class="overview-line">
        <tr>
            <td style="border: 0;"></td>
            <td style="border: 0;"></td>
            <td>Machine 1</td>
            <td style="border: 0;"></td>
            <td>Machine 2</td>
            <td style="border: 0;"></td>
            <td>Machine 3</td>
            <td style="border: 0;"></td>
            <td>Machine 4</td>
        </tr>
        <tr>
            <td style="border: 0;"></td>
            <td style="border: 0;"></td>
            <td>Count 1</td>
            <td style="border: 0;"></td>
            <td>Count 2</td>
            <td style="border: 0;"></td>
            <td>Count 1</td>
            <td style="border: 0;"></td>
            <td>Count 2</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Line 1</td>
            <td style="white-space: nowrap; border: 0;"></td>
            <td style="white-space: nowrap;">Process 1</td>
            <td style="white-space: nowrap; border: 0;">
                <div class="arrow">&#8594;</div>
            </td>
            
            <td style="white-space: nowrap;">Process 2</td>
            <td style="white-space: nowrap; border: 0;">
                <div class="arrow">&#8594;</div>
            </td>
            <td style="white-space: nowrap;">Process 3</td>
            <td style="white-space: nowrap; border: 0;">
                <div class="arrow">&#8594;</div>
            </td>
            <td style="white-space: nowrap;">Process 4</td>            
        </tr>
        <tr>
            <td>Product 1</td>
            <td style="border: 0;"></td>
            <td>Pattern 1</td>
            <td style="border: 0;"></td>
            <td>Pattern 1</td>
            <td style="border: 0;"></td>
            <td>Pattern 1</td>
            <td style="border: 0;"></td>
            <td>Pattern 1</td>
        </tr>
    </table>
</body>

</html>