@model RequestFileModel?

<div class="row" style="margin-left: 200px;">
    <div class="col-md-10">
        @using (Html.BeginForm("Upload", "Server", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <input id="newFile" type="file" name="File" />
            <br>
            @Html.EditorFor(x => x.FilePath)
            <br>
            <input type="submit" value="Save" />
        }
    </div>
</div>